.header {
  height: 8vh;
  width: 100%;
  background-color: black;
}

.siderBar {
  background-color: rgb(212, 213, 208);
  width: 200px;
  height: 92vh;
  border-right: 1px solid #4C4646;
}

.menuIcone{
  margin-left: 15px;

}
.menu{
  display: flex;
  align-items: center;
  border-bottom: 1px #B1B2AC solid;
  border-top: 1px #EFEFEF solid;
}


.dropSize{
  margin-left: 10px;
}
.menuTitle{
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
}

.my-DetailList {
  list-style: none;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0s ease;
  margin: 0px;
}

.my-DetailList.open {
  max-height: 300px;
  margin: 0;
  background: rgb(160, 173, 179);
}

.selected-row{
  color: red;
  background-color: yellow;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136,0.4); /* Change this value to adjust scrollbar thumb color */
}

